{% extends 'question/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Courses
{% endblock %}

{% block link_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sharedStyles.css' %}">

{% endblock %}

{% block body_block %}
    <div class="container-fluid h-100">
            <div class="row h-100">
<!--                empty left margin-->
                <div class="col-md-1 h-100 gutterColor">
                </div>

<!--                main container column-->
                <div class="col-md-10 pb-5 bg-secondary text-white h-100 overflow-auto">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-bottom">
                                <h4 class="mt-3 mb-3">Courses</h4>
                            </div>

                            <div class="row pt-3">

<!--                                if tutor    -->
                                {% if perms.question.can_create %}
                                <div class="col-md-6 border-right">

<!--                                    show list of owned courses-->
                                    <h5 class="mt-3 mb-3">My Courses:</h5>
                                    {% for course in courses %}
                                        {% if course.owner == user %}
                                            <div class="row">
                                                <div class="col-md-8 bg-dark ml-3 mb-3 align-middle rounded">
                                                    <div class="row">
                                                        <p id="myCourse-{{ course.slug }}" class="ml-2 mt-2 mb-2" data-slug="{{ course.slug }}">
                                                            <a href="/question/courses/{{ course.slug }}">
                                                                {{ course.name }}
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" class="deleteButton btn btn-danger" data-token="{{ csrf_token }}">Delete</button>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <br/>

<!--                                    new course form-->
                                    <h5>Create new course:</h5>

                                    <div class="pt-2">
                                        <div class="m-2">Course name:</div>
                                        <form class="ml-2" id="course_form" method="post" action="/question/courses/">
                                            {% csrf_token %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}

                                            {% for field in form.visible_fields %}
                                                {{ field.errors }}
                                                {{ field }}
                                                <br/><br/>
                                            {% endfor %}
                                            <input class="btn btn-dark" type="submit" name="submit" value="Create Course" />
                                        </form>
                                    </div>
                                </div>
                            {% endif %}

<!--                                list all courses (shown to all users)-->
                                <div class="col-md-6">
                                    <h5 class="mt-3 mb-3">All Courses:</h5>
                                    {% for course in courses %}
                                    <div class="col-md-8 bg-dark ml-3 mb-3 align-middle rounded">
                                        <div class="row">
                                            <p id="course-{{ course.slug }}" class="ml-2 mt-2 mb-2"><a href="/question/courses/{{ course.slug }}">{{ course.name }}</a></p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                empty right margin-->
                <div class="col-md-1 h-100 gutterColor">
                </div>
            </div>

        </div>

<!--    - JQuery - -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous">></script>

<!--    JQuery functions for questions.html-->
        <script src="{% static 'js/course-list-jquery.js' %}" crossorigin="anonymous"></script>

        {% csrf_token %}

{% endblock %}