{% extends 'question/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Create Course
{% endblock %}

{% block link_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/sharedStyles.css' %}">
{% endblock %}

{% block body_block %}
    <br/>
    <h3>Create a New Course:</h3>
    <br/>
    <form id="course_form" method="post" action="/question/create_course/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br/><br/>
        {% endfor %}
        <input type="submit" name="submit" value="Create Course" />
    </form>
{% endblock %}