{% extends 'question/base.html' %}
{% load staticfiles %}
{% load markdown_tag %}
{% load markdownify %}

{% block link_block %}
  <!--- Boostrap --->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sharedStyles.css' %}">
{% endblock %}

{% block title_block %}
    {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<div class="container-fluid h-100">
    <div class="row h-100">

<!--        empty left margin-->
        <div class="col-md-1 h-100 gutterColor">
        </div>

<!--        main container column-->
        <div class="col-md-10 pb-5 bg-secondary text-white h-100 pl-5 overflow-auto">
            <div class="row border-bottom mr-2">
                <div class="mt-3">

                    <div class="border-bottom">
                        <h1>{{ selected_user.username }}'s Profile</h1>
                    </div>
                    <br/>

<!--                    bio-->
                    <div>
                        <h3>Bio</h3>
                        <div id="#bioText" class="hideOnSubmit">
                            {{ user_profile.bio|markdownify }}
                        </div>

                        <div id="updatedBio" class="displayNone"></div>

<!--                        show edit bio feature to users-->
                        {% if selected_user == user %}
                            <div class="pb-2">
                                <a href="#" id="editBioButton" class="badge badge-light">Edit</a>
                            </div>
                            <div id="bioEditDiv" class="displayNone pb-3">
                                <textarea class="fill90" id="bioTextarea" name="bioTextarea" rows="10" cols="60"></textarea>
                                <div class="pb-2">
                                    <a href="#" id="submitBio" class="btn btn-dark">Submit</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">

<!--                list 5 most recent questions completed by profile's owner-->
                <div class="col-md-6 bg-secondary text-white p-0">
                    <div class="mb-3"><h4>Recent Questions:</h4></div>
                    {% for question in questions %}
                        <div class="col-md-6 bg-dark mb-3 mr-2 align-middle rounded">
                            <div class="row">
                                <p class="ml-2 mt-2 mb-2"><a href="">{{ question.name }}</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

<!--                list any course published by user-->
                {% if perms.question.can_create %}
                <div class="col-md-6 bg-secondary text-white pl-3 border-left">
                    <div class="mb-3"><h4>Published Courses:</h4></div>
                    {% for course in user_courses %}
                        <div class="col-md-6 bg-dark mb-3 mr-2 align-middle rounded">
                            <div class="row">
                                <p class="ml-2 mt-2 mb-2"><a href="/question/courses/{{ course.slug }}">{{ course.name }}</a></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

<!--        empty right margin-->
        <div class="col-md-1 h-100 gutterColor">
        </div>
    </div>
</div>

        <!--    - JQuery - -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous">></script>

<!--    JQuery functions for questions.html-->
    <script src="{% static 'js/profile-jquery.js' %}" crossorigin="anonymous"></script>

    {% csrf_token %}


{% endblock %}