{% extends 'question/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ lesson.name }}
{% endblock %}

{% block link_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sharedStyles.css' %}">
{% endblock %}

{% block body_block %}
    <div class="container-fluid h-100">
            <div class="row h-100">

<!--                empty left margin-->
                <div class="col-md-1 h-100 gutterColor">
                </div>

<!--                main container column-->
                <div class="col-md-10 bg-secondary text-white h-100">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-bottom">

<!--                                course/lesson details-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="/question/courses/{{ course.slug }}"><h4 class="mt-3 mb-3">{{ course.name }}</h4></a>
                                        <h5 class="mt-3 mb-3">{{ lesson.name }}</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h6 class="float-right mt-4 mr-3">Author: <a href="/question/profile/{{ lesson.owner.username }}">{{ lesson.owner }}</a></h6>
                                    </div>
                                </div>
                            </div>

<!--                            if lesson owner, give option to create question-->
                            <div class="border-bottom">
                                {% if perms.question.can_create and course.owner == user %}
                                    <br/>
                                    <p class="ml-2"><a href="/question/upload/{{ course.slug }}/{{ lesson.slug }}">Create new question</a></p>
                                {% endif %}
                            </div>

<!--                            question list-->
                            <div class="border-bottom">
                                 <h6 class="mt-3 mb-3">Questions:</h6>
                                {% for question in questions %}
                                <div class="row mb-3">
                                    <div class="col-md-4 bg-dark ml-3 align-middle rounded">
                                        <div class="row">
<!--                                            <div class="col-md-10">-->
                                                <p id="question-{{ forloop.counter0 }}" data-slug="{{ question.slug }}" class="ml-2 mt-2 mb-2 align-middle">
                                                    <a id="questionLink-{{ forloop.counter0 }}" href="/question/courses/{{ course.slug}}/{{ lesson.slug }}/{{ question.slug }}">
                                                        {{ question.name }}
                                                    </a>
                                                </p>
<!--                                            </div>-->
                                        </div>
                                    </div>

<!--                                    buttons to rearrange and delete (visible to owner only)-->
                                    <div class="col-md-4">
                                        {% if perms.question.can_create and course.owner == user %}
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <button type="button" class="arrow upArrow btn btn-dark"><h4 class="p-0 m-0">&uarr;</h4></button>
                                            <button type="button" class="arrow downArrow btn btn-dark"><h4 class="p-0 m-0">&darr;</h4></button>
                                        </div>
                                        <button type="button" class="deleteButton btn btn-danger" data-token="{{ csrf_token }}">Delete</button>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

<!--                empty right margin-->
                <div class="col-md-1 h-100 gutterColor">
                </div>
            </div>
        </div>

<!--    - JQuery - -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">></script>

<!--    JQuery functions for questions.html-->
    <script src="{% static 'js/question-list-jquery.js' %}" crossorigin="anonymous"></script>

<!--    provide slugs so javascript can pick up for sending via ajax-->
    {{ course.slug|json_script:"course" }}
    {{ lesson.slug|json_script:"lesson" }}

    {% csrf_token %}

{% endblock %}