{% extends 'question/base.html' %}
{% load staticfiles %}
{% load markdown_tag %}

{% block link_block %}
<!--- Boostrap --->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sharedStyles.css' %}">


<!--    Codemirror-->
<link rel="stylesheet" type="text/css" href="{% static 'css/codemirror.css' %}">
{% endblock %}

{% block title_block %}
    {{ question.name }}
{% endblock %}


{% block body_block %}
    <div class="container-fluid h-100">

<!--         Main div - contains everything        -->
        <div class="row h-100">

<!--            column containing question description-->
            <div class="col-md-3 bg-secondary text-white border border-white rounded-lg">
                <a href="/question/courses/{{ course.slug }}"><h3 class="mt-3"> {{ question.lesson.course.name }}</h3></a>
                <a href="/question/courses/{{ course.slug}}/{{ lesson.slug }}"><h4> {{ question.lesson.name }}</h4></a>
                <br/>
                <h4>{{ question.name }}</h4>
                {{ question.description | markdown | safe }}

                <hr/>
                <h5 class="mb-3">Files</h5>
                <!--                        tabs-->
                <div class="row">
                    {% for file_form in file_formset %}
                    <div class="tab col-md-6 p-2 border border-white rounded-lg" data-file="textarea{{ forloop.counter }}">{{ file_form.name.value }}</div>
                    {% endfor %}
                </div>

            </div>
<!--                column containing interactive section-->

            <div class="col-md-9 bg-secondary text-white border border-white rounded-lg">
                <form id="submission_form" method="post" action="/question/courses/{{ question.lesson.course.slug}}/{{ question.lesson.slug }}/{{ question.slug }}/">
                    {% csrf_token %}
                    {{ file_formset.management_form }}
                    <!--                Input and output row-->
                <div class="row">

<!--                    input col-->
                    <div class="col-md-7 bg-secondary text-white border border-white rounded-lg">



                        <div class="row">
                            <div style="width:100%;">

                                {% for file_form in file_formset %}
<!--                                        render first form-->
                                    {% if forloop.counter == 1 %}
                                    <div class="textarea" style="width=100%;" id="textarea{{ forloop.counter }}">
                                        {{ file_form.contents }}
                                        <div class="displayNone">{{ file_form.name }}</div>
                                    </div>
<!--                                        hide other forms-->
                                    {% else %}
                                    <div class="textarea" style="display:none; width=100%;" id="textarea{{ forloop.counter }}">
                                        {{ file_form.contents }}
                                        <div class="displayNone">{{ file_form.name }}</div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
<!--                    output col -->
                    <div class="col-md-5 bg-secondary text-white border border-white rounded-lg">
                        <h4 class="mt-1">Test Results</h4></br>

                        <h5 class="testErrors displayNone">Errors</h5>
                        <div id="errorText" class="testErrors displayNone testBoxColor text-dark rounded ml-1 pl-1 mt-1 pt-1 mb-3 pb-1 mr-1 pr-1" style="overflow-x: auto;"> - space for errors - </div>

                        <h5 class="testOutput displayNone">Output</h5>
                        <div id="output" class="testOutput displayNone"></div>

<!--                        hidden elements for displaying test results -->
                        <div id="hiddenTemplates" class="displayNone">

                            <div id="testTemplate" class="testBoxColor text-dark rounded ml-1 pl-1 mt-1 pt-1 mb-3 pb-1 mr-1 pr-1">
                                <h6 id="testTemplateName">Name</h6>
                                <p id="testTemplateDescription">Description</p>
                                <p id="testTemplateResult">Passed: True/False</p>
                                <p id="testTemplateFailure" class="redHighlight">Failure Text</p>
                            </div>
                        </div>
                    </div>
                </div>

<!--                Submission button row-->
            <div class="fill10">
                <div class="row">
                    <div class="col-md-8">
                        <button id="ajaxSubmit" type="button" name="button" class="btn btn-primary float-right m-2">Submit</button>

                        <button id="spinner" class="displayNone btn btn-primary float-right m-2" type="button" disabled>
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          Running...
                        </button>

                        {% if next_question %}
                            <a href="/question/courses/{{ course.slug }}/{{ lesson.slug }}/{{ next_question.slug }}" class="btn btn-primary float-right m-2">Next</a>
                        {% else %}
                            <a href="/question/courses/{{ course.slug }}" class="btn btn-primary float-right m-2">Next</a>
                        {% endif %}



                    </div>

                </div>
            </div>


            </div>
            </form>

        </div>


    </div>
    </div>



<!--    - js CDNs- -->

<!--    - JQuery - -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">></script>
<!--    JQuery functions for question.html-->
    <script src="{% static 'js/question-jquery.js' %}" crossorigin="anonymous"></script>

<!--        Codemirror (including clike mode file, which is used for java syntax-->
        <script src="{% static 'js/codemirror.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/clike.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/autorefresh.js' %}" crossorigin="anonymous"></script>

<!--    - Boostrap - -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<!--&lt;!&ndash;    Util.js&ndash;&gt;-->
<!--    <script src="{% static 'js/util.js' %}" crossorigin="anonymous"></script>-->

<!--    - Popper.js - -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!--    convert slugs to json for js to read-->
    {{ question.lesson.course.slug|json_script:"course" }}
    {{ question.lesson.slug|json_script:"lesson" }}
    {{ question.slug|json_script:"question_slug" }}

    <script>
        var codeMirrorInstances = [];

        {% for file_form in file_formset %}
            myTextArea = document.getElementById("id_form-{{ forloop.counter0 }}-contents")
            var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
                                lineNumbers: true,
                                mode: "text/x-java",
                                autoRefresh: true,
                              });
<!--            myCodeMirror.setSize("100%", "100%");-->
            codeMirrorInstances.push(myCodeMirror);
        {% endfor %}
    </script>
{% endblock %}