<!DOCTYPE html>

{% load staticfiles %}


<html lang="en">
<head>
    <meta charset="UTF-8">

      <!--- Boostrap --->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">

    <!--    Codemirror-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/codemirror.css' %}">

    <title>Title</title>
</head>
<body>

    <div class="container-fluid h-100">

        <div class="row h-100">

<!--            Description section-->
            <div class="col-md-3 bg-secondary text-white rounded-lg">

                <h3>Upload New Question</h3><br/>

<!--                Question title-->
                <h5>Question name:</h5>
                <h4 id="questionTitle">{Question name}</h4>
                <a href="#" id="editQName" class="badge badge-light">Edit</a>

                <div class="displayNone" id="qNameDiv">
                        <p>Enter question name:</p>
                        <input type="text" id="qNameInput" name="qNameInput">
                        <a href="#" id="submitQName" class="badge badge-light">Submit</a>
                </div>
                <br/><br/>

<!--                Question description-->
                <h5>
                    Question description:</h5>
                <p id="questionDesc">{Text describing question}</p>
                <a href="#" id="editQDesc" class="badge badge-light">Edit</a>

                <div class="displayNone" id="qDescDiv">
                    <p>Enter question description:</p>
                    <textarea class="fill90" id="qDescInput" name="qDescInput" rows="5" cols="10"></textarea>
                    <a href="#" id="submitQDesc" class="badge badge-light">Submit</a>
                </div>

            </div>

<!--            Code/results section-->
            <div class="col-md-9 h-100 noPadNoMargin bg-secondary text-white border border-white rounded-lg">

<!--                Input and output row-->
                <form class="fill90" id="submission_form" method="post" action="/question/upload/">

                    {% csrf_token %}
                    {{ upload_file_formset.management_form }}
                    <div class="row fill100">



                        <!--                    input col-->
                        <div class="col-md-7 bg-secondary text-white border border-white rounded-lg fill100">

                            <!--                        tabs-->
                            <div id="tabs" class="row">
                                <div id="tab1" class="tab col-md-4 p-2 border border-white rounded-lg" data-no="1">
                                    <div class="sameLine">
                                        <p class=noMargin id="tab1text">{{ upload_file_formset.1.name.value|default_if_none:'' }}</p>
                                        <p class="noMargin"> &nbsp
                                            <a href="#" id="tab1Edit"
                                           class="tabEdit badge badge-light"
                                           data-name="1">
                                            Edit
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="addTab" class="col-md-1 p-2 border border-white rounded-lg" >
                                    <p class="noMargin center"> + </p>
                                </div>
                            </div>


<!--                            File contents-->
                            <div class="row">
                                <div id="textareaholder" style="width:100%">
                                    <div id="textarea1" class="textarea">
                                        {{ upload_file_formset.1.contents }}
                                    </div>
                                </div>
                            </div>





                        </div>

    <!--                    output col -->
                        <div class="col-md-5 scroll bg-secondary text-white border border-white rounded-lg fill100">
                            <div id="hiddenInputs">
                                Q Name: {{ upload_form.question_name }}<br/>
                                Q Desc: {{ upload_form.question_description }}<br/>
                                Test file: {{ upload_form.test_file }}<br/>



                                form.name:
                                {{ upload_file_formset.1.name }}
                            </div>


<!--                                hidden field for creating forms-->
                            <div>
                                <br/> Hidden fields for creating new tabs/files

                                {{ upload_file_formset.0.name }}

                                {{ upload_file_formset.0.contents }}
                            </div>



                        </div>
                </div>

<!--                Submission button row-->
                <div class="fill10">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" name="submit" class="btn btn-primary float-right m-2">Submit</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div id="popup" class="popupdiv displayNone">
        <div class="container-fluid h-100 w-100">
            <div class="row fill100">
                <div class="col-md-12 bg-secondary text-white rounded-lg">
                    Enter file name:<br/><br/>
                    <input type="text" id="fileNameInput" name="fileNameInput">
                    <a href="#" id="submitFileName" class="badge badge-light" data-tab="1">Submit</a>

                </div>
            </div>
        </div>
    </div>


        <div id="tabTemplateDiv" class="displayNone tab col-md-4 p-2 border border-white rounded-lg" >
            <div class="sameLine">
                <p class=noMargin>Empty</p>
                <p class="noMargin"> &nbsp
                    <a href="#"
                   class="tabEdit badge badge-light"
                   data-name="1">
                    Edit
                    </a>
                </p>
            </div>
        </div>



<!--    - JQuery - -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<!--    JQuery functions for question.html-->
    <script src="{% static 'js/upload-jquery.js' %}" crossorigin="anonymous"></script>

<!--        Codemirror (including clike mode file, which is used for java syntax-->
        <script src="{% static 'js/codemirror.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/clike.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/autorefresh.js' %}" crossorigin="anonymous"></script>

<!--    - Boostrap - -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!--    - Popper.js - -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script>

    myTextArea = document.getElementById("id_form-1-contents")
    var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
                        lineNumbers: true,
                        mode: "text/x-java",
                        autoRefresh: true,
                      });

    </script>
</body>
</html>