<!DOCTYPE html>
{% extends 'question/base.html' %}
{% load staticfiles %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block link_block %}
      <!--- Boostrap --->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sharedStyles.css' %}">


    <!--    Codemirror-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/codemirror.css' %}">
    {% endblock %}

    {% block title_block %}
        Upload New Question
    {% endblock %}
</head>
<body>
    {% block body_block %}
    <div class="container-fluid h-100">

        <div class="row h-100">

<!--            Description section-->
            <div class="col-md-3 bg-secondary text-white border-right border-white rounded-lg h-100 overflow-auto">

                <h3 class="mt-3"> {{ course.name }}</h3>
                <h4> {{ lesson.name }}</h4>
                <br/>

                <h4 class="mt-3">Upload New Question</h4><br/>

<!--                Question title-->
                <h5>Question name:</h5>
                <h4 id="questionTitle">{{ upload_form.initial.question_name }}</h4>
                <a href="#" id="editQName" class="edit badge badge-light">Edit</a>

                <div class="displayNone" id="qNameDiv">
                        <p>Enter question name:</p>
                        <input type="text" id="qNameInput" name="qNameInput">
                        <a href="#" id="submitQName" class="badge badge-light">Submit</a>
                </div>
                <br/><br/>

<!--                Question description-->
                <h5>
                    Question description:</h5>
                <p id="questionDesc">{{ upload_form.initial.question_description }}</p>
                <a href="#" id="editQDesc" class="edit badge badge-light">Edit</a>

                <div class="displayNone" id="qDescDiv">
                    <p>Enter question description:</p>
                    <textarea class="fill90" id="qDescInput" name="qDescInput" rows="5" cols="10"></textarea>
                    <a href="#" id="submitQDesc" class="badge badge-light">Submit</a>
                </div>

                  <!--                        tabs-->
                <hr/>


                <div class="row edit">
                    <div id="addTab" class="col-md-6 p-2 border border-white rounded-lg mb-4" >
                        <p class="noMargin center">Add File</p>
                    </div>

                    <div id="tabTest" class="tab col-md-6 p-2 border border-white rounded-lg ml-auto mb-4" data-no="Test">
<!--                        <div class="sameLine">-->
                            <p class="noMargin center" id="tabTesttext">Tests.java</p>
<!--                        </div>-->
                    </div>
                </div>
                <h5 class="mb-3">Files</h5>

                <div id="tabs"class="mb-2">
                    {% for form in upload_file_formset %}
                        {% if not forloop.first %}
                            <div id="tab{{ forloop.counter0 }}" class="row">
                                <div class="tab tabBox col-md-6 p-2 border border-white rounded-lg" data-no="{{ forloop.counter0 }}">
                                    <div class="sameLine">
                                        <p class=noMargin id="tab{{ forloop.counter0 }}text">{{ form.name.value|default_if_none:'' }}</p>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="noMargin"> &nbsp
                                            <a href="#" id="tab{{ forloop.counter0 }}Edit"
                                           class="edit tabEdit btn btn-light"
                                           data-name="{{ forloop.counter0 }}">
                                            Edit
                                            </a>

                                            <a href="#" id="tab{{ forloop.counter0 }}Delete"
                                           class="delete tabDelete btn btn-danger"
                                           data-name="{{ forloop.counter0 }}">
                                            Delete
                                            </a>
                                        </p>
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>



            </div>

<!--            Code/results section-->
            <div class="col-md-9 h-100 noPadNoMargin bg-secondary text-white rounded-lg">

<!--                Input and output row-->
                <form class="h-100" id="submission_form" method="post" action="/question/upload/">

                    {% csrf_token %}
                    {{ upload_file_formset.management_form }}
                    <div class="row inputAreaHeight m-0">

                        <!--                    input col-->
                        <div class="col-md-7 bg-secondary text-white rounded-lg fill100">

<!--                            File contents-->
                            <div class="row h-100">
                                <div id="textareaholder" style="width:100%; height:100%">
                                    {% for form in upload_file_formset %}
<!--                                        ignore first (empty template) form-->
                                        {% if not forloop.first %}
<!--                                            render first form-->
                                            {% if forloop.counter0 == 1 %}
                                                <div id="textarea{{ forloop.counter0 }}" class="textarea fill100">
                                                    {{ form.contents }}
                                                </div>
<!--                                            hide other forms-->
                                            {% else %}
                                                <div style="display:none;" id="textarea{{ forloop.counter0 }}" class="textarea fill100">
                                                    {{ form.contents }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                        <div id="textareaTest" class="textarea displayNone fill100">
                                            {{ upload_form.test_file }}
                                        </div>

                                </div>


                            </div>





                        </div>

    <!--                    output col -->
                        <div class="col-md-5 scroll bg-secondary text-white rounded-lg border-left border-bottom border-white h-100 overflow-auto">

                            <div id="testResults">

                                <h4 class="mt-3">Test Results</h4></br>

                                <h5 class="testErrors displayNone">Errors</h5>
                                <div id="errorText" class="testErrors displayNone testBoxColor text-dark rounded ml-1 pl-1 mt-1 pt-1 mb-3 pb-1 mr-1 pr-1" style="overflow-x: auto;"> - space for errors - </div>

                                <h5 class="testOutput displayNone">Output</h5>
                                <div id="output" class="testOutput displayNone">

                                </div>



                            </div>


                            <div id="hiddenInputs" class="displayNone">
                                Q Name: {{ upload_form.question_name }}<br/>
                                Q Desc: {{ upload_form.question_description }}<br/>
<!--                                Test file: {{ upload_form.test_file }}<br/>-->



                                form.name:

                                {% for form in upload_file_formset %}
                                    {% if not forloop.first %}
                                        {{ form.name }}
                                        {{ form.DELETE }}
                                    {% endif %}
                                {% endfor %}

                            </div>


<!--                                hidden field for creating forms-->
                            <div id="hiddenTemplates" class="displayNone">
                                <br/> Hidden fields for creating new tabs/files

                                {{ upload_file_formset.0.name }}

                                {{ upload_file_formset.0.contents }}

                                {{ upload_file_formset.0.DELETE }}

                                <div id="testTemplate" class="testBoxColor text-dark rounded ml-1 pl-1 mt-1 pt-1 mb-3 pb-1 mr-1 pr-1">

                                    <div class="results">
                                        <div class="row pt-2">
                                            <div class="col-md-8"><h6 id="testTemplateName">Name</h6></div>

                                            <div class="hintButtonContainer col-md-4 displayNone">
                                                <h5 class="float-right mr-2">
                                                    <a href="#" class="hintButton badge badge-dark">
                                                        Hint</a>
                                                </h5>
                                            </div>
                                        </div>

                                        <p id="testTemplateDescription">Description</p>
                                        <p id="testTemplateResult">Passed: True/False</p>
                                        <p id="testTemplateFailure" class="redHighlight">Failure Text</p>
                                    </div>

                                    <div class="hint displayNone border-top">
                                        <div style="height: 10px;"></div>
                                        <h6 id="testHintName">Hint:</h6>
                                        <p id="testHint"></p>
                                    </div>





                                </div>
                            </div>



                        </div>
                </div>

<!--                Submission button row-->
                <div class="submitHeight">
                    <div class="row">
                        <div class="col-md-7">
                            <button id="solve" type="button" name="button" class="displayNone btn btn-dark float-right m-2">Solve</button>
<!--                            <button type="submit" name="submit" class="btn btn-primary float-right m-2">Submit</button>-->
                            <button id="upload" type="button" name="button" class="btn btn-dark float-right m-2">Submit</button>

                            <button id="spinner" class="displayNone btn btn-dark float-right m-2" type="button" disabled>
                              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                              Running...
                            </button>

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div id="popup" class="popupdiv displayNone z100">
        <div class="container-fluid h-100 w-100">
            <div class="row fill100">
                <div class="col-md-12 bg-secondary text-white rounded-lg">
                    Enter file name:<br/><br/>
                    <input type="text" id="fileNameInput" name="fileNameInput">
                    <a href="#" id="submitFileName" class="badge badge-light" data-tab="1">Submit</a>

                </div>
            </div>
        </div>
    </div>

    <div id="messagePopup" class="popupdiv displayNone z100">
        <div class="container-fluid h-100 w-100">
            <div class="row fill100">
                <div class="col-md-12 bg-secondary text-white rounded-lg align-self-center p-4 shadow-lg border">
                        <div id="messagePopupTitle">Title</div><br/>
                        <div id="messagePopupText">Text</div><br/>
                        <a href="#" id="closeMessagePopup" class="badge badge-light float-right">Close</a>
                </div>
            </div>
        </div>
    </div>


        <div id="tabTemplateDiv" class="row displayNone">
            <div class="tab tabBox col-md-6 p-2 border border-white rounded-lg" >
                <div class="sameLine">
                    <p class=noMargin>Empty</p>

                </div>
            </div>
            <div class="col-md-6">
                <p class="noMargin"> &nbsp
                    <a href="#"
                   class="edit tabEdit btn btn-light"
                   data-name="1">
                    Edit
                    </a>
                    <a href="#"
                   class="delete tabDelete btn btn-danger"
                   data-name="1">
                    Delete
                    </a>
                </p>
            </div>
        </div>

    </div>



<!--    - JQuery - -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">></script>

<!--    JQuery functions for question.html-->
    <script src="{% static 'js/upload-jquery.js' %}" crossorigin="anonymous"></script>

<!--        Codemirror (including clike mode file, which is used for java syntax-->
        <script src="{% static 'js/codemirror.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/clike.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/autorefresh.js' %}" crossorigin="anonymous"></script>

<!--&lt;!&ndash;    - Boostrap - &ndash;&gt;-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>-->

<!--    - Popper.js - -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<!--    convert course and lesson objects to json for js to read-->
    {{ course.slug|json_script:"course" }}
    {{ lesson.slug|json_script:"lesson" }}

    <script>

    var codeMirrorInstances = [];

    {% for form in upload_file_formset %}
        {% if not forloop.first %}
            myTextArea = document.getElementById("id_form-{{ forloop.counter0 }}-contents");
            myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
                                lineNumbers: true,
                                mode: "text/x-java",
                                autoRefresh: true,
                                indentUnit: 4,
                              })
            myCodeMirror.setSize("100%", "100%");
            codeMirrorInstances.push(myCodeMirror);
        {% endif %}

    {% endfor %}

    testTextArea = document.getElementById("id_test_file");
    myCodeMirror = CodeMirror.fromTextArea(testTextArea, {
                        lineNumbers: true,
                        mode: "text/x-java",
                        autoRefresh: true,
                        indentUnit: 4,
                      })
    myCodeMirror.setSize("100%", "100%");
    codeMirrorInstances.push(myCodeMirror);

    </script>
    {% endblock %}
</body>
</html>