hr {
    border: 1px solid white;
}

a:hover {
    color: #000000;
}

a {
    color: #FFFFFF;
}

.yScroll {
  overflow-y: scroll;
}

.autoOverflow {
  overflow: auto;
}

.heightMinusNav{
    height: calc(100% - 49.5px);
}